[2017-01-24 16:59] ooade opened #1 "Add manifest.json"

[2017-01-25 03:47] ooade commented on #1
Solved on last PR

[2017-01-25 03:47] #1 closed

[2017-01-26 08:52] frol opened #2 "TypeError: Cannot read property 'join' of undefined"
Running the demo app (https://next-preact.now.sh/), I have noticed the following error in the console log:

[2017-01-26 12:12] ooade commented on #2
@frol Thanks for checking up on the example app :smile: .

The problem arises from nextjs HeadManager's method "updateTitle" so i don't really have a say about this. I think this issue should be addressed to nextjs itself or preact-compat since it works well with react.

I don't know if @arunoda can take a peek at this.

Steps to reproduce:
- Run the preact example app
- Add nextjs's helper elemen

[2017-01-28 12:23] ooade commented on #2
It's bin 2days now, i've reported the issue [here](https://github.com/zeit/next.js/issues/910).

[2017-01-28 22:37] ooade commented on #2
@frol Thanks for the report, it's fixed over there and will be shipped in with the next version of preact-compat, so till then that error will have to wait :smile_cat:

[2017-01-31 09:40] ooade opened #3 "Fix Code Climate's Issues"
Issues: https://codeclimate.com/github/ooade/NextSimpleStarter/issues

[2017-01-31 09:45] #3 closed

[2017-01-31 09:55] ooade commented on #2
@frol Now fixed locally. I've exceeded my number of deploys for this month so i'll push it to `now` tomorrow

[2017-01-31 09:55] #2 closed

[2017-02-12 01:24] luandro opened #6 "Lighthouse testing"
[lighthouse](https://github.com/GoogleChrome/lighthouse) can't perform a test on [https://next-preact.now.sh](https://next-preact.now.sh).

[2017-02-12 15:55] ooade commented on #6
It's working fine here:
![lh](https://cloud.githubusercontent.com/assets/11811904/22863620/dc4719d2-f143-11e6-9b36-115a4a4ebe63.png)

And besides, even if it don't work, it would be from lighthouse and not from the web app.

[2017-02-12 17:47] luandro commented on #6
Something funny happens here... anyways, thanks. Just curious to see the score. Great project btw!

[2017-02-12 17:47] #6 closed

[2017-02-12 17:49] ooade commented on #6
The score is not so cool right now.. I'll make some improvements :smile:

[2017-02-12 18:06] luandro commented on #6
Let's get it to 100, I'll see if I can help out :1st_place_medal:

[2017-02-12 18:18] ooade commented on #6
@luandro That'll be much appreciated :+1:

[2017-02-16 22:11] luandro opened #9 "getInitialProps() issues"
Trying to do simple data fetching using next's `getInitialProps`, but it's been hard to get it to work.

I believe this first error I get has to do with getting Babel configs right.

[code]

After adding `transform-runtime` the error seems to go away.
[code]

But still `getInitialProps()` doesn't get called. You can check out [my fork](https://github.com/Luandro-com/NextSimpleStarter) for code.

[2017-02-16 22:42] ooade commented on #9
@luandro I'm so sorry about that. I totally went off next's babel configuration. I should have added "next/babel" preset but there's a way we could spin this up. I don't know if you're interested

 - Delete ProviderWrapper and remove its instance from '/utils/index.js'
 - Create a Layout or Provider Component to be more realistic (takes in children) and return it back nested within Redux's Provide

[2017-02-16 22:43] ooade commented on #9
And Yeah, probably delete the .babelrc config it won't be needed.

[2017-02-16 22:43] luandro commented on #9
Want a PR?

[2017-02-16 22:44] ooade commented on #9
If you wish :100:

[2017-02-16 22:46] luandro commented on #9
👍

[2017-02-16 23:40] #9 closed

[2017-02-23 05:05] luandro opened #11 "Error on deploy"
So I've been trying to port an [existing app](https://github.com/contemplecom/cg-app/tree/v2.0) to use this Boilerplate. When I finally finish everything and try to deploy, I'm getting this error when running the build:

`Error: Cannot find module 'react'`

And removing the `preact` alias doesn't help...

[2017-02-23 05:07] luandro commented on #11
Nvm... running `npm i react` solved it. But why didn't it install `react` when it's on the `package.json`... mystery

[2017-02-23 05:07] #11 closed

[2017-02-24 20:22] pdw207 opened #12 "Service Worker Error"
Two errors relating to service worker. Can you also explain the service worker in more detail?

Error: ENOENT: no such file or directory, stat '/Users/paulwilson/vermonster/opensource/resistance-calendar/.next/sw.js'

Uncaught (in promise) TypeError: Request scheme 'chrome-extension' is unsupported
    at sw.js:formatted:279
<img width="1035" alt="screen shot 2017-02-24 at 3 02 41 pm" src="https:/

[2017-02-24 21:07] ooade commented on #12
NextSS don't have a service worker file per say. We're making use of [sw-precache-webpack-plugin](https://github.com/goldhand/sw-precache-webpack-plugin) which inherently depends on [sw-precache](https://github.com/GoogleChrome/sw-precache). All i did was just to set the rule the service worker will follow [here](https://github.com/ooade/NextSimpleStarter/blob/master/next.config.js) and sw-precach

[2017-02-25 17:19] goldhand commented on #12
@ooade is correct to disable this during development.

So it seems the application is trying to cache a chrome extension that a user has installed.
Does disabling all chrome extensions remove this error?

I think it is https://github.com/ooade/NextSimpleStarter/blob/aba3f7f8611f5ab7809e67e24d3d16531eab9bd5/next.config.js#L24 that is caching the chrome-extensions. Not sure what else in the config w

[2017-02-25 19:47] ooade commented on #12
@goldhand Yeah disabling all chrome extensions removes the error.
P.S: You're probably right about that line.

@pdw207 Will you like to fix this?

[2017-02-26 19:32] #12 closed

[2017-02-27 14:14] pdw207 commented on #12
Does Next's `prefetch` link attribute also preload assets?  I think you may be correct about the `Request scheme 'chrome-extension' is unsupported`

[2017-02-27 15:41] ooade commented on #12
No. It downloads just JS code https://github.com/zeit/next.js#prefetching-pages

[2017-02-27 15:43] ooade commented on #12
And thanks for raising the issue. I've pushed the fix to https://nextss.now.sh

[2017-03-08 13:46] ooade commented on #6
@luandro we made it to 100 https://pwa-directory.appspot.com/?sort=score&page=2
Thanks to those few changes we made lately, and thanks to you too

[2017-03-20 10:31] ssured opened #16 "`npm run build` does not create build"
Hi,

Today I tried your repo without touching anything
[code]
The build folder is not created. Do you know what's happening?

Thanks!

[2017-03-20 16:26] ooade commented on #16
NextJS does not create a build directory. Instead, it creates a `.next` directory. Maybe, we could add comments to .gitignore file to make things a little bit clear.

[2017-03-20 16:27] ooade commented on #16
P.S: Thanks for trying it out

[2017-03-25 20:06] ooade commented on #16
Closing this since it's not an issue per se... Thanks for dropping in.

[2017-03-25 20:06] #16 closed

[2017-04-15 14:53] sedubois opened #23 "Redux-offline"
Hi! Thanks for this starter project, it's really helpful 👍

Do you have any plans to add [redux-offline](https://github.com/jevakallio/redux-offline) to your example?

[2017-04-15 17:05] ooade commented on #23
IMO, i feel its not necessary. I mean, data don't persist to a database/localstorage/.... As you can see [here](https://github.com/ooade/NextSimpleStarter/blob/master/actions/todo.js), we just have redux add/remove a todo and once we reload the page, off it goes :rocket:

But, we could still make this happen. If you interested, you can take it up and bump our version to 2.0.0.
I'd love to see comm

[2017-04-15 17:40] sedubois commented on #23
Yeah don't know how big you want this to become but it would be really great to have a more realistic example 😄 Plugging a backend (I'd recommend [Graphcool](https://www.graph.cool/)) and a local storage (redux-offline using redux-persist under the hood) to have a more realistic example. I think it would be hugely helpful and very appreciated by @jevakallio and the guys from Zeit and Graphcool. Co

[2017-04-15 17:59] ooade commented on #23
Graphcool... I think we could have this on a different repo because i think it kinda goes against the "Simple Starter" name making it a lil bit verbose.

[2017-04-15 18:29] sedubois commented on #23
Yes adding a backend makes things more complex of course, but as long as a backend is needed, I have the feeling that it's actually the easiest backend solution.

But I get it if you only wanted to demonstrate PWA here and not offline-first.

[2017-04-16 15:56] ooade commented on #23
Yeah, you're right. Let's leave this open, as a reminder to work on it. I'll take this up if no one else will. Thanks :+1:

[2017-04-20 09:59] manishbalyan opened #24 "server.get is not function error"
I am using simple http server instead of express, but when i write this
    createServer.get('/sw.js', (req, res) => res.sendFile(path.resolve('./.next/sw.js')));
it through error that server.get is not a function
`const next = require('next')
const routes = require('./routes')
const app = next()
const handler = routes.getRequestHandler(app)

// Without express.js
const {createServer} = require('h

[2017-04-20 13:19] ooade commented on #24
It feels like you don't want to use expressjs but this will lead to more and more errors coming your way while trying to set some things up. You can check out the [custom server example](https://github.com/zeit/next.js/blob/master/examples/custom-server/server.js) with nodejs or you can hack your way through it using http.request [here](https://nodejs.org/api/http.html#http_http_request_options_ca

[2017-04-20 13:19] #24 closed

[2017-05-17 23:29] greenkeeper[bot] opened #30 "An in-range update of next is breaking the build 🚨"
## Version **2.4.0** of [next](https://github.com/zeit/next.js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ooade/NextSimpleStarter/compare/greenkeeper%2Fnext-2.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      next
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Ver

[2017-05-17 23:30] #30 closed

[2017-05-28 12:23] ooade opened #32 "Service worker don't install and update on all pages"
I guess we didn't notice that because we only have [one page](https://github.com/ooade/NextSimpleStarter/blob/master/pages/index.js) here.
- I'll try to fix that ASAP.
- I'll also rename [offline-install](https://github.com/ooade/NextSimpleStarter/blob/master/utils/offline-install.js) to `offline` because it does not only install the service worker but also update it.

[2017-05-28 12:37] #32 closed

[2017-06-16 10:10] HashCode55 opened #36 "SyntaxError: /.babelrc: Error while parsing JSON"
Hi!

I tried to run the example mentioned in the readme but its throwing this error:

[code]

I'm running OSX (Sierra)
Node version 6.10.3

[2017-06-16 11:46] ooade commented on #36
Please, can i get more details cos we don't handle .babelrc file in any way. That is Next.js's Job :man_shrugging:

[2017-06-16 20:18] #36 closed

[2017-06-23 08:34] vsc-github commented on #23
A very interesting project. I have one doubt though. Doesn't the PWA approach embraces offline-first architecture? If this project doesn't support offline first , what other PWA characteristics is it providing out of the box?

[2017-06-25 14:24] ooade commented on #23
@vsc-github https://github.com/zeit/next.js/issues/861#issuecomment-296223233

[2017-06-26 06:44] vsc-github commented on #23
@ooade Thanks, makes sense. I think addition of redux-offline would be a great addition to this project but then again it'll make this starter a very opinionated one. Ah, tough luck.

[2017-06-26 07:58] sedubois commented on #23
Also, maintenance of Redux-offline seems to have stalled. Maybe need to look at technologies used inside hnpwa.com such as Workbox etc.

[2017-06-26 09:02] ooade commented on #23
@sedubois Workbox is pretty hot :fire: :fire: Tried it's precaching mechanism via workbox-webpack-plugin, which doesn't yet support runtime caching. We can try adding it later with its other cool features like:
- Background Sync
- Workbox Google Analytics
- and so on...

[2017-10-02 11:12] remy opened #40 "Question: .next/sw.js not static?"
I've just been reading through the service worker specific code in your repo, and I'm assuming there's a good reason for sw.js being in the .next directory - I just wondered if you could enlighten me? I'm looking at how I get a service worker in my own code base, but am seeing if it's possible to be done entirely from a statically generated directory.

Thanks in advance.

[2017-10-02 13:05] ooade commented on #40
The Service Worker can also be generated on the static folder without any issue if served via a root path i.e. in the server.js file:
[code]
It's just a matter of preference why i chose the .next directory :sweat_smile:

[2017-10-18 08:07] iamsoorena opened #46 "Is it possible to use SWPrecacheWebpackPlugin to make a service worker from some chosen pages?"
I would love to know how you would approach this problem.
for example when you have 3 pages:
page1
page2
page3
and you only want service worker to include page1.

[2017-10-18 19:49] MacKentoch commented on #46
@iamsoorena I use another approach for PWA with Next.

1- I use a Layout component (rather than _document) that registers my service worker in each page.
So I could register on specific pages by passing a prop for example.

2- I user my own server implementation to serve ./sw.js so that I don't need webpack at all.

My version: [react-redux-nextjs-bootstrap-pwa-starter](https://github.com/MacKento

[2017-10-21 11:36] jumasheff opened #49 "Error in sw.js registration"
In order to check PWA on dev machine, I built the app and yarn run start. But the project showed an error in console:
Failed to load resource: net::ERR_INVALID_RESPONSE :3000/sw.js

[2017-10-25 15:15] AgentChris commented on #49
i have the same problem

A bad HTTP response code (404) was received when fetching the script.
:3000/sw.js Failed to load resource: net::ERR_INVALID_RESPONSE
app.js:7 Error during service worker registration: TypeError: Failed to register a ServiceWorker: A bad HTTP response code (404) was received when fetching the script.
(anonymous) @ app.js:7
Promise rejected (async)
(anonymous) @ app.js:7
n @

[2017-10-28 12:56] ooade commented on #49
Sorry, i created the issue on this [commit](https://github.com/ooade/NextSimpleStarter/commit/8363cdf2e853b416b522d4fed5765503c057b100). I'll fix it ASAP. Thanks :+1:

[2017-10-28 13:05] ooade commented on #40
I think i'll go with your way. If you have any further issues, feel free to drop it here. Thanks :+1:

[2017-10-28 13:05] #40 closed

[2017-10-28 13:06] #49 closed

[2017-10-28 13:06] ooade commented on #49
Fixed! :fire:

[2017-10-29 19:17] ooade commented on #46
@MacKentoch Maybe you need to update your fork. We ditched using _document a long time ago, had some issues with that approach. We now **automagically** add it to a webpack chunk _main.js_ so it registers on every page.
* Your layout approach will definitely work and I'm also suggesting it to you @iamsoorena
---
Sorry for the late response.

[2017-10-29 19:17] #46 closed

[2017-11-15 05:07] kenyk7 opened #52 "Add sass or scss for styles"

[2017-11-28 16:13] ooade commented on #52
Sorry, I don't think we would have that here. But you can check out https://github.com/iaincollins/nextjs-starter. @iaincollins handled that well. Our main goal here is to make a simple PWA with Next.js and Redux.

[2017-11-28 16:13] #52 closed

[2018-05-07 14:37] greenkeeper[bot] opened #59 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="https://github.com/ooade/NextSimpleStarter/compare/master...ooade:greenkeeper%2Fupdate-to-nod

[2018-06-18 22:43] CharlyJazz opened #62 "How i can add code in the service worker?"
I need add code to create push notificacion add background sync, any ideas?

[2018-06-25 19:40] #59 closed

[2018-06-27 20:24] greenkeeper[bot] opened #63 "An in-range update of next is breaking the build 🚨"
## Version **6.1.0** of **next** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/ooade/NextSimpleStarter/compare/master...ooade:greenkeeper%2Fnext-6.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/zeit/next.js>next</a>

[2018-07-25 10:15] Rexiduz opened #66 "i can't start this project."
<img width="1552" alt="screen shot 2561-07-25 at 17 09 45" src="https://user-images.githubusercontent.com/33196996/43194844-9493f77e-902d-11e8-9135-ebefcff52a1a.png">

i'm student form Thailand. Now, i interesting in PWA with Next.js and research example project. i don't know to fix it. Can you help me please?

[2018-07-25 15:17] Rexiduz commented on #66
<img width="1440" alt="screen shot 2561-07-25 at 22 13 29" src="https://user-images.githubusercontent.com/33196996/43209925-0b6f8f82-9058-11e8-933b-833f297f9f21.png">
i'm just use commands "npm install", "npm run dev" and open browser to  "localhost:3000"

[2018-07-25 15:35] ooade commented on #66
It shouldn't be that worse, even in development

[2018-07-25 15:36] ooade commented on #66
BTW, I noticed there's a slight change to dealing with redux in Next.js which I will update in few minutes. Thanks for notifying me :+1:

[2018-07-25 15:37] #66 closed

[2018-07-27 14:55] #63 closed

[2018-07-27 15:00] ooade commented on #62
Sorry, this took a while but we've switched from using sw-precache to using workbox which will work well for your use case. You can make it happen from this [file](https://github.com/ooade/NextSimpleStarter/blob/master/utils/sw.js). If you have any issues with it, feel free to hit me up here. Thanks!

[2018-07-27 15:00] #62 closed

[2018-09-06 19:29] greenkeeper[bot] opened #68 "An in-range update of react is breaking the build 🚨"
## Version **16.5.0** of the **react** packages was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/ooade/NextSimpleStarter/compare/master...ooade:greenkeeper%2Fmonorepo.react-16.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Monorepo release group
    </th>
    <td>
      <a target=_blank href=https

[2018-10-01 10:34] #23 closed

[2018-10-01 10:35] #68 closed

[2018-10-02 00:19] ooade opened #72 "Take PWA to 100% again"
Clone the repo, and use lighthouse(Audits) as a guide.
Cheers :tada:

[2018-10-02 11:14] SanyasiraoM commented on #72
I will do this

[2018-10-02 13:32] ooade commented on #72
@SanyasiraoM feel free to tackle any other one asides #74

[2018-10-03 09:56] ooade commented on #72
Where we are currently:
![screenshot from 2018-10-03 10-55-06](https://user-images.githubusercontent.com/11811904/46403582-d277f280-c6fa-11e8-9a50-a960f13996d4.png)

Using audits, you'd know what to change and the link attached to each problem will guide you to solving them

[2018-10-27 17:29] michaelmota opened #75 "How to get the state from the Store"
Hello,

I used this boilerplate to migrate a project made with Create-React-App using Redux, and I have to say that it's been a complete headache understanding the SSR with React, but I'm almost done with it. I'm new using NextJS and I want to know how can I get the state from the Store, for example I want to use the URL prop on my ComponentWillMount of Blog.

Here is my store:

[code]

and here i

[2018-10-27 17:53] ooade commented on #75
With the example I gave [here](https://github.com/ooade/NextSimpleStarter/blob/master/pages/index.js#L9), you could get the state using `store.getState();`

[2018-10-27 18:41] michaelmota commented on #75
Yes I tried that but how I can make it work correctly, because when I use: store.getState(state.url) it says: "Cannot read property 'url' of undefined", and on the store I'm declaring the state and exporting it.

Again sorry for my ignorance, could you see if I have anything wrong here on the way I'm calling getState?:

[code]

[2018-10-27 22:50] michaelmota commented on #75
Closing this issue, solved it with the mapStateToProps. Thanks @ooade !

[2018-10-27 22:50] #75 closed

[2018-11-13 03:05] greenkeeper[bot] opened #76 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepo:

 + - The `dependency` [react](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.
- The `dependency` [react-dom](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.

🚨 [View failing branch](https://github.com/ooade/NextSimpleStarter/compare/master...ooade:greenkeeper%2Fmonorepo.react-16.6.2).

This ver

[2018-11-28 23:44] ahmedmusawir opened #77 "Images are failing to load after Zeit deployment"
I'm accessing TvMaze API which is https and Zeit is using https. But after deployment none of my images are being loaded here:
https://next-simple-starter-uhnprynavy.now.sh/articles
Code: https://github.com/ahmedmusawir/moose-next-pwa-rdx-bp

with this error:

`workbox-core.prod.js:1 Mixed Content: The page at 'https://next-simple-starter-uhnprynavy.now.sh/sw.js' was loaded over HTTPS, but request

[2018-11-29 05:03] ooade commented on #77
You're serving insecure requests that's why it's been blocked. And, service workers only allow secured origins.  I checked your [API](https://api.tvmaze.com/search/shows?q=batman), saw it was only serving http url for images. One way to fix this is to add
[code]
to your _document.js file, so it will have you upgrade the insecure requests.

[2018-12-27 05:13] #77 closed

[2018-12-27 05:14] #76 closed

[2019-01-08 17:20] serjt12 opened #82 "the live-reload is not working"
I followed all the steps to make the app work, but the live-reload doesn't work, in order for the project to work I have to build then run yarn dev, am I mmissing something, thanks in advance.

[2019-01-08 18:31] ooade commented on #82
It works. Check this out https://res.cloudinary.com/stackpie/video/upload/v1546972198/2019-01-08_19-12-39_m1b9zn.mp4

[2019-01-08 22:18] serjt12 commented on #82
that's exactly why I dont get it, as I said I only clone the repo, npm install, npm run  dev and  it says why I explained before...

[2019-01-09 12:00] serjt12 commented on #82
really really  strange, now I could try it in a mac, worked perfectly... so I don't know, sorry to bother and thank you again.

[2019-01-09 12:14] ooade commented on #82
Okay. Glad I was able to help :+1:

[2019-01-09 12:14] #82 closed

[2019-01-12 02:51] RyanMilb opened #83 "Firefox only: Error on add todo"
On Firefox only, when trying to add a todo I receive a "Secure Connection Failed" error.  Works on chrome though. :+1:

[2019-01-12 10:34] #83 closed

[2019-01-12 10:37] ooade commented on #83
I've fixed it with that commit. It was initially added due to uploading insecure requests (mainly photos) used with this implementation. They should be able to fix it with adding the upgrade CSP flag on the server.

[2019-02-20 04:09] greenkeeper[bot] opened #85 "An in-range update of react-redux is breaking the build 🚨"
## The dependency [react-redux](https://github.com/reduxjs/react-redux) was updated from `6.0.0` to `6.0.1`.

🚨 [View failing branch](https://github.com/ooade/NextSimpleStarter/compare/master...ooade:greenkeeper%2Freact-redux-6.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-redux is a direct dependency of this

[2019-04-02 06:30] talentedandrew opened #87 "ISSUE : Uncaught ReferenceError: webpackHotUpdate is not defined"
Getting this error (Uncaught ReferenceError: webpackHotUpdate is not defined
) while runnign `npm run dev`

[2019-04-03 06:43] ooade commented on #87
It should work fine. Just `npm install`.

Or you can provide some step to reproduce if it doesn't.

Thanks

[2019-04-03 06:43] ooade opened #88 "Change to using Material Components Web"
We'll be changing the entire project to using [Material Components Web](https://github.com/material-components/material-components-web). It's currently using Material Design Lite.

Reason for change:
They don't update mdl again, since they now have mcw.

[2019-04-03 10:03] talentedandrew commented on #87
@ooade still getting this error. Below are the steps:
1.cloned this repo
2.installed all dependencies `npm install`
3. ran `npm run dev`

node version : v10.13.0
os : macOS Mojave (version 10.14.3)

[2019-04-03 10:25] ooade commented on #87
Hi, can you try deleting your node_modules directory and install again, because I can't seem to reproduce this issue? I'm also running node v10. You could also delete your package lock file before running the install script.

[2019-04-03 10:48] talentedandrew commented on #87
@ooade I did a fresh install. Still showing the error on console. Did you try doing a fresh install?

[2019-04-03 11:09] ooade commented on #87
Yeah, I did that as well.

[2019-04-03 11:22] ooade commented on #87
Here's my fresh install.
![fresh install](https://user-images.githubusercontent.com/11811904/55475106-e8fbf980-560a-11e9-8619-baa013df97cf.png)

[2019-04-03 11:24] ooade commented on #87
I've pushed the my lock file tho. I hope it helps :)

[2019-04-03 11:46] talentedandrew commented on #87
@ooade Please see the below screenshot
![image](https://user-images.githubusercontent.com/15646138/55476463-422c5300-5634-11e9-9eb0-aae9ed5dcdf8.png)

[2019-04-05 05:13] talentedandrew commented on #87
@ooade did you get the issue?

[2019-04-05 07:23] ooade commented on #87
Oh! I didn't know it was in the browser's console. It's probably from Next.js. I'll upgrade and see how it goes.

[2019-04-05 08:32] ooade commented on #87
@talentedandrew The issue is with workbox conflicting with next.js. I'll try fixing it tomorrow. Thanks for reporting this.

[2019-04-07 13:42] #87 closed

[2019-04-07 13:42] ooade commented on #87
Thanks for reporting this @talentedandrew. We are using a more better approach now

[2019-04-07 13:45] ooade opened #89 "Use now 2 to deploy"
Using now 2 will make us remove the server.js file since you can match paths to file with the config file.

[2019-04-07 18:51] Developerayo commented on #89
Fix in #90 Pull Request

[2019-04-07 20:58] Developerayo commented on #72
Sill doing this @SanyasiraoM ?

[2019-04-07 20:59] Developerayo commented on #72
Ohh it's done :)

[2019-04-07 21:00] Developerayo commented on #72
@ooade consider closing this issue?
Any reason to keep it open?

[2019-04-07 21:01] Developerayo commented on #88
Add a description naw 😥

[2019-04-09 08:51] #89 closed

[2019-05-25 07:38] 9wisit commented on #88
When?

[2019-06-23 19:40] #85 closed

[2019-07-02 18:15] dancancro opened #100 "Cannot find module '.../.next/server/static/U1ODQPfQegE-wf5TV0bgZ/pages/_document'"
I got this error right away after downloading the starter and running `npm run build` and `npm run start`.

[code]

[2019-07-02 18:44] dancancro commented on #100
`npm run dev` doesn't cause any errors. Both the original starter app and the one to which I added my code start up and run fine, but there is no service worker registered or running in either.

[2019-07-03 08:54] ooade commented on #100
My guess is you switch from `serverless` to `server` in your next config to run it locally. So, you'd need to clear your `.next` directory to make this work.

Thanks, and I'll try to clear thing up for easy usage.

[2019-07-03 14:03] dancancro commented on #100
That overcame that problem but now when I run it, I get this in the browser console:

[code]

I see a new service worker listed on the Application dev tools tab but it has a red 'x'. I got these errors without doing anything to the starter besides your recommendation. So you ought to be able to reproduce the problem.

Also if I'm understanding these words correctly, I think I need something "serve

[2019-07-03 16:35] ooade commented on #100
Yeah, it wouldn't work directly because of the service worker path.

That's why we have this in [now.json](https://github.com/ooade/NextSimpleStarter/blob/master/now.json)

[code]

So you'd have map the service worker source to where it's destination. I wouldn't mind a PR to make next-offline generate our service worker in static directory so we wouldn't be dealing with these issues. Initially I h

[2019-07-04 00:13] dancancro commented on #100
Do you know how to solve my problem? I don't understand clearly what "map the service worker source to where it's destination" means. I have not changed anything in your code. So you may give me exact, literal instructions.

[2019-07-09 09:03] ooade commented on #100
Here is how to go about solving it:

- Go to next.config.js, change `serverless` to `server`.
- Run build script `npm run build`

[2019-07-09 09:04] ooade commented on #100
Note that the service worker will be generated at `/static/service-worker.js`

[2019-07-09 13:27] dancancro commented on #100
It's not working for me. Is it working for you? From the top project directory I run `npm run build && cd out && serve -p 3000`. I see a file `./out/static/service-worker.js` has been generated. I open `localhost:3000` in the browser. It gives me this error message:
[code]

I have changed nothing about your starter besides changing `serverless` to `server` on line 4 of `next.config.js`.

[2019-07-11 09:03] ooade commented on #100
I would have to document how to deploy to several hosting services. But for now use [this](https://www.netlify.com/blog/2019/01/16/redirect-rules-for-all-how-to-configure-redirects-for-your-static-site/) to set a redirect rule from `/static/service-worker.js` to `/service-worker.js`.

[2019-07-11 09:04] ooade commented on #100
I would have to document how to deploy to several hosting services. But for now use [this](https://www.netlify.com/blog/2019/01/16/redirect-rules-for-all-how-to-configure-redirects-for-your-static-site/) to guide you to setting a redirect rule from `/static/service-worker.js` to `/service-worker.js`.

[2019-07-11 13:04] dancancro commented on #100
I get this problem running on localhost. Do you get this problem running on localhost?

[2019-07-11 13:46] ooade commented on #100
Unfortunately, to run this on localhost with the current setup is nearly impossible. Mainly because we went serverless.

Two ways I know to go about it locally
1. Install and use [superstatic](https://www.npmjs.com/package/superstatic) to serve and redirect for you
2. Install and use express to resolve `/static/service-worker.js` to `/service-worker.js`.

In ~3 hours, I'll add the first one so we

[2019-07-11 18:12] ooade commented on #100
Hi @dancancro! I've updated the repo.

Just run the commands:
[code]

And you're good to go. Thanks!

[2019-07-11 18:14] ooade commented on #100
I'll update the docs or you could help to add the instructions. And perhaps, a little guide to uploading to Netlify. Same commands.

[2019-07-11 19:27] ooade commented on #100
Oops! I added the guide already https://github.com/ooade/NextSimpleStarter#deploy-to-netlify

Cheers 🎉 🎉

[2019-07-14 03:55] dancancro commented on #100
@ooade Thanks! [It works](https://www.stopindoctrination.org)

I'm not seeing a big performance improvement yet. The Chrome Lighthouse score might have gone up a little, and the service worker is running. The main problem has been and continues to be loading the app, specifically on my phone and from the version that opens using an app icon rather than from Safari. I tried deleting that icon and s

[2019-07-14 03:55] #100 closed

[2019-07-21 13:47] headwinds commented on #88
@ooade do you need any help porting? I know Material very well and would be happy to give back

[2019-07-21 13:49] ooade commented on #88
@headwinds Feel free to send in a PR :grinning:

Thanks :)

[2019-07-21 14:19] headwinds commented on #88
@ooade great - I'm exploring the repo - I'll make a small draft PR and update 1 component to the latest material UI and we can discuss the results

[2019-07-21 14:23] ooade commented on #88
Sure. Good to know 👌

[2019-07-21 15:14] headwinds commented on #88
@ooade so when I said I know Material well - I actually know React Material [https://material-ui.com](https://material-ui.com) not Material Components Web - I briefly looked into that project and they look similar but I'd more comfortable with the react version.

So can we go with React Material UI instead? It does seem like it's more suited for NextJS...

[2019-07-21 16:04] ooade commented on #88
Cool @headwinds. I love Material UI, as well. The latest releases make a whole lot of sense.

[2019-08-12 22:04] #88 closed

[2019-08-13 07:32] #72 closed

[2019-08-30 13:20] findela opened #113 "Manifest file not generated"
![Screenshot from 2019-08-30 18-44-16](https://user-images.githubusercontent.com/8926058/64024881-04871400-cb59-11e9-9b55-e1f85a0711f8.png)
I tried exactly same installation that you provide in documentation, In my case the manifest file identity doesn't matches where your https://nextss.now.sh/ this one matches,can you little help what went wrong to solve this issue. I am using to host this on AW

[2019-08-30 14:04] ooade commented on #113
First off, you'd need to check if the service worker installs properly on your end. If not, you need to redirect `/static/service-worker.js` route to `/service-worker.js`.

[2019-08-30 14:59] findela commented on #113
I figured out swDest: 'static/service-worker.js', in next config.js which will try to pick the file, but found this solutions registerSwPrefix: "/",it's not working!

[2019-09-02 13:12] JayeshPunjabi728 opened #114 "Invariant Violation: Invalid hook call."
Hooks can only be called inside of the body of a function component.

[2019-09-03 11:41] ooade opened #116 "Delete Eslint flowtype and other packages that we don't use"
https://github.com/ooade/NextSimpleStarter/pull/115

[2019-09-07 06:24] ooade commented on #114
@JayeshPunjabi728 Please can you share the steps to reproduce?

[2019-09-07 09:07] #116 closed

[2019-11-14 21:45] #114 closed

[2019-12-03 12:09] rrjanbiah opened #128 "Background Sync API support"
Are there any support for Background Sync https://developers.google.com/web/tools/workbox/modules/workbox-background-sync and or a way to handle API calls in offline?

[2019-12-03 21:36] ooade commented on #128
There's nothing stopping you from using Background Sync 🙂
Update your next.config.js to work with it and, you should be good to go.
For more info on what options to pass, [check this out](https://developers.google.com/web/tools/workbox/modules/workbox-webpack-plugin).

[2019-12-03 21:53] ooade opened #129 "Make delete button accessible"
Currently, it has an `aria-hidden` attribute 😑
An `aria-label` of "Delete Todo" should do.

**To turn on Screen Reader on Mac: Cmd + F5**

[2019-12-04 23:43] #129 closed

[2019-12-06 11:28] #128 closed

[2019-12-13 13:09] mykolat opened #132 "`Container` in `_app` has been deprecated and should be removed."
[ ready ] compiled successfully - ready on http://localhost:3000
Warning: the `Container` in `_app` has been deprecated and should be removed. https://err.sh/zeit/next.js/app-container-deprecated

Getting such error on start, how can I handle it?

[2019-12-13 20:37] ooade commented on #132
Hi! Completely discard `Container` and, you're good to go. I'll update the repo today to fix that tho.

Thanks!

[2019-12-13 20:37] #132 closed

[2019-12-13 20:39] ooade commented on #132
I've pushed it 🎉

[2019-12-13 20:40] #113 closed

[2020-01-26 01:27] simonestic opened #135 "Redux Dev Tools doesn't work"
Hey, thanks or this boilerplate, i think it'w awesome. but apparently redux devtools doesn't work.
any hint on that?

[2020-01-26 09:17] ooade commented on #135
We don't use Redux. We're making use of React Hooks (useReducer) in place of redux. You could make use of React Dev Tools, tho, it doesn't offer as much flexibility as Redux Dev Tools. But, it should give as much context as possible.

[2020-01-26 09:17] #135 closed

[2020-01-31 04:16] greenkeeper[bot] opened #137 "An in-range update of eslint-config-react-app is breaking the build 🚨"
## The devDependency [eslint-config-react-app](https://github.com/facebook/create-react-app) was updated from `5.1.0` to `5.2.0`.

🚨 [View failing branch](https://github.com/ooade/NextSimpleStarter/compare/master...ooade:greenkeeper%2Feslint-config-react-app-5.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-co

[2020-02-01 23:00] greenkeeper[bot] opened #138 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.18.0` to `7.18.1`.

🚨 [View failing branch](https://github.com/ooade/NextSimpleStarter/compare/master...ooade:greenkeeper%2Feslint-plugin-react-7.18.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plu

[2020-02-02 05:25] #138 closed

[2020-02-02 10:05] greenkeeper[bot] opened #139 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## The devDependency [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) was updated from `2.20.0` to `2.20.1`.

🚨 [View failing branch](https://github.com/ooade/NextSimpleStarter/compare/master...ooade:greenkeeper%2Feslint-plugin-import-2.20.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-

[2020-02-02 20:40] #139 closed

[2020-02-03 05:52] greenkeeper[bot] opened #140 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.18.2` to `7.18.3`.

🚨 [View failing branch](https://github.com/ooade/NextSimpleStarter/compare/master...ooade:greenkeeper%2Feslint-plugin-react-7.18.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plu

[2020-02-03 06:11] #140 closed

[2020-02-08 09:11] #137 closed

[2020-02-13 10:11] greenkeeper[bot] opened #141 "An in-range update of react-axe is breaking the build 🚨"
## The dependency [react-axe](https://github.com/dequelabs/react-axe) was updated from `3.3.0` to `3.4.0`.

🚨 [View failing branch](https://github.com/ooade/NextSimpleStarter/compare/master...ooade:greenkeeper%2Freact-axe-3.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-axe is a direct dependency of this proje

[2020-02-15 07:16] #141 closed

[2020-02-16 18:09] ooade opened #143 "Re-organize our README"
We started this project not quite long after Next.js became public and we haven't really touched the README 😅

We've just been improving the code section and making it a lot better. I guess it's time to give the README a new structure, basically to pass the right message to new users.

Let's do this! 🚀

[2020-02-18 12:43] dackers86 opened #145 "Cannot register service worker with minimal configuration on Netlify"
Error message in the console shows....

SW registration failed:  TypeError: Failed to register a ServiceWorker for scope ('https://stupefied-franklin-ead670.netlify.com/') with script ('https://stupefied-franklin-ead670.netlify.com/service-worker.js'): A bad HTTP response code (404) was received when fetching the script.

The build files generate and SW.js, rather than a service-worker.js.

Could

[2020-02-18 12:44] dackers86 commented on #145
Next.config.js...

[code]

[2020-02-18 12:46] dackers86 commented on #145
Lighthouse details as...

![image](https://user-images.githubusercontent.com/2060661/74737369-a1935180-524c-11ea-8632-9e5516ed0003.png)

[2020-02-18 12:52] #145 closed

[2020-02-18 12:55] dackers86 commented on #145
Apologies. Moved to https://github.com/shadowwalker/next-pwa/issues/13

[2020-03-26 06:42] rbhatt-pm commented on #143
[code]

[2020-03-26 06:42] rbhatt-pm commented on #143
Dnx@

[2020-03-26 06:43] rbhatt-pm commented on #143
-

[2020-04-21 11:21] zwx998 opened #151 "text"
text word

[2020-04-21 16:42] #151 closed

[2020-05-05 15:01] arpit73 opened #155 "static folder has been deprecated."
The `static` folder was deprecated in [Next 9.1](https://nextjs.org/blog/next-9-1#public-directory-support).

This repository should be restructured to use the `public` folder. We should be able to just get away with `public/static/` by copying the  `static` folder to `public`.

[2020-05-07 13:33] #155 closed

[2020-05-07 13:33] ooade commented on #155
Thanks a lot. We've fixed this :)

[2020-05-11 16:02] greenkeeper[bot] opened #157 "An in-range update of next is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The dependency [next](https://github.com/zeit/next.js) was updated from `9.3.6` to `9.4.0`.

🚨 [View failing branch](https://github.com/ooade/NextSimpleStarter/compare/master...

[2020-05-11 16:19] greenkeeper[bot] opened #158 "An in-range update of snyk is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The dependency [snyk](https://github.com/snyk/snyk) was updated from `1.320.1` to `1.320.2`.

🚨 [View failing branch](https://github.com/ooade/NextSimpleStarter/compare/master..

[2020-05-11 19:06] #158 closed

[2020-05-11 19:06] #157 closed

[2020-10-05 23:29] viniba000 opened #166 "Teste"

[2020-10-06 04:35] #166 closed

[2020-11-04 04:25] Markkos89 commented on #143
Hello, im trying to use this project as a template a project of mine and i cant do the deploy to Netlify. Would you be so kind to update the Readme.md file with proper instructions?

[2020-11-04 07:27] ooade commented on #143
Hi @Markkos89!

We actually added a guide for Netlify [here](https://github.com/ooade/NextSimpleStarter#deploy-to-netlify).

Cheers! 🎉

[2020-11-16 19:28] ooade commented on #143
Fixed in #170

[2020-11-16 19:28] #143 closed

[2021-01-24 07:33] Manjit2003 opened #173 "[FEATURE] : Add support for Tailwind CSS also"
It would be a great if this awesome template also had support for Tailwind css.

[2021-01-26 17:35] seraj opened #174 "NextJS SW registration failed"
hi
thanks for this awesome repo

I use this repo for my project and it's working fine.
but one thing happen for me.

I don't deploy it on now or Heroku. we have our server and I just use ssh for deploying the project on the server.

and this is my console

[code]

[2021-01-26 20:46] ooade commented on #174
The service worker is generated in the `_next/static` directory. It can be accessed via [this route](https://dibaache.com/_next/static/service-worker.js).

So, one thing you could do is set a redirect rule to help with that.

[2021-01-27 05:47] seraj commented on #174
how can i do this?
i used this in `next.config.js` but it doesn't work
[code]

[2021-01-27 08:00] ooade commented on #174
Cool. That works! Closing this issue as it's already resolved.

[2021-01-27 08:00] #174 closed

[2021-01-28 11:26] ooade commented on #173
Adding support for Tailwind is more like forking the template and building one for tailwind or completely removing MUI and adding Tailwind 😅

Rather than doing any of those, we'd definitely make it more low level, that is, not using any CSS library. That way makes it easier to maintain and I don't have to worry much about the CSS library as this repo is more targeted towards the Nextjs side of thi

[2021-01-28 11:26] #173 closed

[2021-01-28 17:51] seraj opened #175 "Retain user login"
Hi
currently, I request backend and got a token, and will be saved to cookie.
The issue I'm having is that on the PWA version, the user's auth is breaking every time when you open the app.

what is the best way to manage authentication for PWA's if this is the case?

this is the `next.config.js` file:

const withOffline = require("next-offline");
[code]

[2021-01-30 20:36] #175 closed

[2021-02-27 09:43] Manjit2003 opened #176 "Add support for Redux also"
It would be great if this template had support for Redux also...

[2021-03-01 06:58] Manjit2003 commented on #176
I mean Redux-Toolkit...

[2021-03-18 16:45] ooade commented on #176
It's not something we plan to add as the repo is geared towards setting up a basic PWA with Nextjs.

[2021-03-18 16:45] #176 closed